.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 75%;

    margin-left:250px;
    height: auto; 
}

.left{
 /* margin:0 auto auto 12rem; */
 margin-right: 50vh;
 background-color: var(--color-bg-div);
 min-width: 400px;
 min-height: 236px;
 border: 5px solid var(--color-border);
  border-radius: 30px;
  padding: 10px;
  position: relative;
}
.left ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.left ul li{
    display: flex;
    gap: 10px;
}

.inner-right ul {
 /* margin:-5rem auto 20rem auto; */
 margin-top: -5rem;
 margin-left: 12rem;
 padding: 10px;
 background-color:var(--color-bg-div);
min-width: 400px;
 min-height: 236px;
  border: 5px solid var(--color-border);
   border-radius: 30px;
   text-align: right;
   display: flex;
   flex-direction: column;
    gap: 1rem;
    position: relative;
}
.right .right-gap{
    margin-left: 10px;
    margin-right: 10px;
}
.rating{
 display:flex;
    gap: 10px;
    font-size: x-small;
    color: var(--color-primary);
  
}
.left .rating{
   
      margin-top: 10px;
    margin-right: 7rem;
    margin-left: auto;
}
.right  .rating{
    margin-left: 7rem;
    margin-right: auto;
  
}
/* ===================MEDIA QUERIES (MEDIUM DEVICES)========== */

@media screen and (max-width:1024px) {

.skills_container{
       height: auto;
      
        overflow: hidden;
}
.left{
   max-width: 65vh;
    margin-left: 2rem;
    margin-right: auto;
}
.right ul{
     width: 60%;
    margin-right: 2rem;
    margin-left: auto;
    margin-top: 2rem;
}

}

/* ===================MEDIA QUERIES (SMALL DEVICES)========== */

@media screen and (max-width:600px) {

.skills_container{
       height: auto;
      
        overflow: hidden;
}
.left{
   min-width:max-content;
     margin: 10px 10px;
}
.right ul{
      min-width:max-content;

    margin: 20px 20px;
}
} 



